<h1>Welcome: <%= @username %></h1>
<!--<h4>You have: %= pluralize(current_user.lists.count, 'List', 'Lists') %></h4> -->

<%= link_to 'All Bucketlists', lists_path, class: "waves-effect waves-light btn green lighten-2" %>

<%= link_to 'Profile', edit_user_registration_path, class: "waves-effect waves-light btn green lighten-2" %>

<%= link_to 'Logout', destroy_user_session_path, method: :delete, data: {confirm: 'Really want to leave Bucketlist?'}, class: "waves-effect waves-light btn red lighten-2" %>
