<h1>Welcome: <%= @user %></h1>

<%= link_to 'All Bucketlists', lists_path %>

<%= link_to 'Profile', edit_user_registration_path %>

<%= link_to 'Logout', destroy_user_session_path, method: :delete, data: {confirm: 'Really want to leave Bucketlist?'} %>
